.window{
    -fx-background-radius: 50px 100px 50px 0px;
   /* -fx-border-radius: 50px 50px 50px 0px;*/
}

.button{
-fx-background-color : #75a3b8;
-fx-background-radius : 100px 100px 100px 100px;
}
.button:hover{
-fx-background-color : #5dcbed;
}
