.window{
    -fx-background-image: url(bob2.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 187px 226px;
    -fx-background-position: center center;
}

.button{
-fx-background-color : #75a3b8;
-fx-background-radius : 100px 100px 100px 100px;
}
.button:hover{
-fx-background-color : #5dcbed;
}

vs_wind{
-fx-background-image: url(bob2.png);
-fx-background-repeat: no-repeat;
-fx-background-size: 108px 134px;
}
